In [1]:
import numpy as np
import pandas as pd

In [156]:
from gensim.models import Doc2Vec

C:\Users\Asus\Anaconda3\lib\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [75]:
df=pd.read_csv("df_plots.txt")
plot_sim=np.load("simmatrix.npy")
df_ratings=pd.read_csv("ratings_df.txt",dtype={"rating":np.float16})

In [ ]:
df_ratings=df_ratings.loc[df_ratings.movieId.isin(df.ID)]

In [149]:
df.ID.is_monotonic

True

In [150]:
df_ratings.movieId.nunique()

16002

In [71]:
df_ratings.sort_values(by="movieId",inplace=True)

In [98]:
from surprise import Reader, Dataset, KNNBasic
reader=Reader()

data=Dataset.load_from_df(df_ratings[["userId","movieId","rating"]],reader)

sim_options = {'name': 'pearson_baseline',         
               'user_based':False,
               'min_support':5
               }

knn=KNNBasic(sim_options=sim_options)

trainset = data.build_full_trainset()

knn.fit(trainset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [ ]:
pearson_sim=knn.sim

In [16]:
for i in range(plot_sim.shape[0]):
    plot_sim[i][i]=a

In [119]:
for i in range(pearson_sim.shape[0]):
    pearson_sim[i][i]=b

In [213]:
import statistics

In [118]:
a=plot_sim.mean()
b=pearson_sim.mean()

In [218]:
print(statistics.stdev(plot_sim[0]),statistics.stdev(pearson_sim[0]))

0.1025578001838297 0.05692147523499948

In [219]:
print(statistics.stdev(plot_sim[1]),statistics.stdev(pearson_sim[1]))

0.10064050542640332 0.050875842671333445

It seems like that plot similarity matrix's standart deviation is the twice of the pearson similary matrix's. Since I want that two similary measures have the same amount of effect on the recommendation, I normalize them.

In [8]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

In [18]:
plot_scaled=(scaler.fit_transform(plot_sim.T)).T

In [13]:
pearson_scaled=(scaler.fit_transform(pearson_sim.T)).T

To test the two similarity scores independently I choose some movies I've watched before and observe the results. First movie I choose is "Girl, Interrupted", since it's kinda have a theme I think it would be good choice to test the doc2vec model' results. The story of the movie takes place in a mental instution. Some of the  most similar movies according to the doc2vec model have related story to mental ilness or hospital etc but some are not. Tbh I am kinda dissappointed by top2vec's performance. I trained the model 3-4 times with different hyperparamaters, also one time with the full plot dataset that consists of movies that are not seen in the movielens data, too but even that did not improve the result significantly, even sometimes lowered the performance contrast to longer training time and bigger dataset. Top2vec takes serious time to train but I am doubtful towards that it's worth the time. I think simple tf-dt calculation requires one or two minute calculation would not give significantly worse results than doc2vec. But when I mix the results with pearson similarity matrix I can  say I am satisfied with the performance. As for the pearson similarity matrix, the only flaw I can think of that might be it is kinda biased to popular movies, especially when you ask a recommendation for a popular movie. But again I think pearson similarity mesuare balance each other out with the doc2vec results in that way, too.

In [222]:
df.loc[df.Title=="Girl, Interrupted"]

,Unnamed: 0,Title,Release Year,Plot,ID
1778,1784,"Girl, Interrupted",1999,"In April 1967, 18-year-old Susanna Kaysen vol...",3186

In [220]:
k=plot_scaled[1778]
k_sort=sorted(k,reverse=True)
for value in k_sort[:20]:
    ind=np.where(k==value)
    print(df.iloc[ind].Title)

6090    Sybil
Name: Title, dtype: object
4992    Love Object
Name: Title, dtype: object
11120    Carry On Doctor
Name: Title, dtype: object
9220    Contracted
Name: Title, dtype: object
7029    Grace
Name: Title, dtype: object
15659    The Wig
Name: Title, dtype: object
9239    Such Good Friends
Name: Title, dtype: object
9439    Proxy
Name: Title, dtype: object
3691    Swimming Pool
Name: Title, dtype: object
5738    These Girls
Name: Title, dtype: object
10126    Infection
Name: Title, dtype: object
15344    Chutney Popcorn
Name: Title, dtype: object
14307    Dying to Belong
Name: Title, dtype: object
9905    Room 6
Name: Title, dtype: object
7092    Precious
Name: Title, dtype: object
1178    Autumn Sonata
Name: Title, dtype: object
11179    Boogeyman 3
Name: Title, dtype: object
11666    The Reader
Name: Title, dtype: object
5579    Buried Alive
Name: Title, dtype: object
3536    Prozac Nation
Name: Title, dtype: object

In [151]:
k=pearson_scaled[1778]
k_sort=sorted(k,reverse=True)
for value in k_sort[:10]:
    ind=np.where(k==value)
    print(df.iloc[ind].Title)

4889    Gia
Name: Title, dtype: object
3536    Prozac Nation
Name: Title, dtype: object
1541    Brokedown Palace
Name: Title, dtype: object
3217    White Oleander
Name: Title, dtype: object
25    Now and Then
Name: Title, dtype: object
3922    Final Analysis
Name: Title, dtype: object
2110    But I'm a Cheerleader
Name: Title, dtype: object
2771    Riding in Cars with Boys
Name: Title, dtype: object
4212    Rose Red
Name: Title, dtype: object
2207    Pay It Forward
Name: Title, dtype: object

In [226]:
def get_recommendations(ids):
    scores=np.zeros((16002))
    for i in ids:
        a=np.add(plot_scaled[i],pearson_scaled[i])
        scores=np.add(scores,a)
    scores_sort=sorted(scores,reverse=True)
    for value in scores_sort[:20]:
        ind=np.where(scores==value)
        print(df.iloc[ind].Title)

In [225]:
get_recommendations([1778])

4889    Gia
Name: Title, dtype: object
3536    Prozac Nation
Name: Title, dtype: object
3217    White Oleander
Name: Title, dtype: object
1541    Brokedown Palace
Name: Title, dtype: object
42    When Night Is Falling
Name: Title, dtype: object
6256    Juno
Name: Title, dtype: object
11631    Suffragette
Name: Title, dtype: object
1973    28 Days
Name: Title, dtype: object
192    Nell
Name: Title, dtype: object
4087    Thirteen
Name: Title, dtype: object
3922    Final Analysis
Name: Title, dtype: object
5451    Speak
Name: Title, dtype: object
2110    But I'm a Cheerleader
Name: Title, dtype: object
1544    Better Than Chocolate
Name: Title, dtype: object
4020    Monster
Name: Title, dtype: object
4200    Desert Hearts
Name: Title, dtype: object
1711    Anywhere But Here
Name: Title, dtype: object
9453    The Skeleton Twins
Name: Title, dtype: object
2771    Riding in Cars with Boys
Name: Title, dtype: object
1738    Awakenings
Name: Title, dtype: object

I test for the three movies I like and think they might have similar auidence first separetely, then in the combined way. I am pretty much satisfied with the results. Again the only flaw might be that if a popular movie seen in the top 20 similar results induvially it's almost guarenteed that it will be seen in the combined result. Probably because that popular movie have above-avarage similarity score to each movies and I also combined this movies since I think they are similar in a way. So I think it might be more useful to use the recommendation engine for one movie separately to heard of many movies you cant in the google's recommendation as a similar movies when you googled a movie. I think that's much more biased towards popular movies than mine :)

In [14]:
df.loc[df.Title=="Wristcutters: A Love Story"]

,Unnamed: 0,Title,Release Year,Plot,ID
6271,6387,Wristcutters: A Love Story,2006,After Zia commits suicide by cutting his wris...,56715

In [210]:
get_recommendations([6271])

4287    Spring, Summer, Fall, Winter... and Spring
Name: Title, dtype: object
4131    Noi the Albino
Name: Title, dtype: object
4466    Garden State
Name: Title, dtype: object
5119    Nobody Knows
Name: Title, dtype: object
4011    Big Fish
Name: Title, dtype: object
6744    Departures
Name: Title, dtype: object
6071    Cashback
Name: Title, dtype: object
7945    Submarine
Name: Title, dtype: object
4096    Vanishing Point
Name: Title, dtype: object
8539    Sinister
Name: Title, dtype: object
5520    C.R.A.Z.Y.
Name: Title, dtype: object
5797    Angel-A
Name: Title, dtype: object
9441    Coherence
Name: Title, dtype: object
3987    Nausicaä of the Valley of the Wind
Name: Title, dtype: object
4873    Cannibal! The Musical
Name: Title, dtype: object
5018    Ju-on: The Grudge
Name: Title, dtype: object
6752    Mystery Team
Name: Title, dtype: object
4563    The Machinist
Name: Title, dtype: object
7565    Monsters
Name: Title, dtype: object
11804    The Little Prince
Name: Title, dtype: object

In [92]:
df.loc[df.Title=="Being John Malkovich"]

,Unnamed: 0,Title,Release Year,Plot,ID
1679,1684,Being John Malkovich,1999,Craig Schwartz is an unemployed puppeteer in ...,2997

In [228]:
get_recommendations([1679])

4128    Eternal Sunshine of the Spotless Mind
Name: Title, dtype: object
3360    Adaptation
Name: Title, dtype: object
9084    Her
Name: Title, dtype: object
6602    Synecdoche, New York
Name: Title, dtype: object
5108    Shivers
Name: Title, dtype: object
1329    Rushmore
Name: Title, dtype: object
4001    Naked Lunch
Name: Title, dtype: object
6561    Burn After Reading
Name: Title, dtype: object
1459    Election
Name: Title, dtype: object
643    Brazil
Name: Title, dtype: object
3219    Punch-Drunk Love
Name: Title, dtype: object
6254    Margot at the Wedding
Name: Title, dtype: object
6580    1984
Name: Title, dtype: object
478    Trainspotting
Name: Title, dtype: object
1593    American Beauty
Name: Title, dtype: object
4539    I Heart Huckabees
Name: Title, dtype: object
3781    Lost in Translation
Name: Title, dtype: object
156    Ed Wood
Name: Title, dtype: object
5671    Magic
Name: Title, dtype: object
29    Twelve Monkeys
Name: Title, dtype: object

In [93]:
df.loc[df.Title=="Edward Scissorhands"]

,Unnamed: 0,Title,Release Year,Plot,ID
1262,1263,Edward Scissorhands,1990,An elderly woman describes to her granddaughte...,2291

In [229]:
get_recommendations([1262])

1203    Beetlejuice
Name: Title, dtype: object
8538    Frankenweenie
Name: Title, dtype: object
6729    Coraline
Name: Title, dtype: object
4011    Big Fish
Name: Title, dtype: object
727    Carrie
Name: Title, dtype: object
224    What's Eating Gilbert Grape
Name: Title, dtype: object
5433    Corpse Bride
Name: Title, dtype: object
790    Benny & Joon
Name: Title, dtype: object
426    James and the Giant Peach
Name: Title, dtype: object
5898    Notes on a Scandal
Name: Title, dtype: object
3535    Willard
Name: Title, dtype: object
6274    Sweeney Todd: The Demon Barber of Fleet Street
Name: Title, dtype: object
1085    Labyrinth
Name: Title, dtype: object
5248    Vincent
Name: Title, dtype: object
4802    Cry-Baby
Name: Title, dtype: object
3185    Secretary
Name: Title, dtype: object
3520    Spider
Name: Title, dtype: object
4263    Desperate Living
Name: Title, dtype: object
2603    Jacknife
Name: Title, dtype: object
2828    Iris
Name: Title, dtype: object

In [230]:
get_recommendations([1262,1679,6271])

4128    Eternal Sunshine of the Spotless Mind
Name: Title, dtype: object
9084    Her
Name: Title, dtype: object
4011    Big Fish
Name: Title, dtype: object
4466    Garden State
Name: Title, dtype: object
3781    Lost in Translation
Name: Title, dtype: object
806    Lost Highway
Name: Title, dtype: object
4001    Naked Lunch
Name: Title, dtype: object
5428    Survive Style 5+
Name: Title, dtype: object
7945    Submarine
Name: Title, dtype: object
5733    Little Miss Sunshine
Name: Title, dtype: object
3350    Solaris
Name: Title, dtype: object
213    Shallow Grave
Name: Title, dtype: object
2780    Donnie Darko
Name: Title, dtype: object
4563    The Machinist
Name: Title, dtype: object
3520    Spider
Name: Title, dtype: object
1329    Rushmore
Name: Title, dtype: object
426    James and the Giant Peach
Name: Title, dtype: object
224    What's Eating Gilbert Grape
Name: Title, dtype: object
166    Heavenly Creatures
Name: Title, dtype: object
70    Bottle Rocket
Name: Title, dtype: object

In [95]:
df

,Unnamed: 0,Title,Release Year,Plot,ID
0,0,Toy Story,1995,Woody is a pull-string cowboy doll and leader...,1
1,1,Jumanji,1995,"In 1869, two boys bury a game board in a fore...",2
2,2,Grumpier Old Men,1995,The lifelong feud between Max and John has c...,3
3,3,Waiting to Exhale,1995,Waiting to Exhale is a story about four Africa...,4
4,4,Father of the Bride Part II,1995,George Banks must accept the reality of what h...,5
...,...,...,...,...,...
15997,16229,Hockey Night,1984,"Cathy Yarrow arrives in Parry Sound, Ontario w...",208681
15998,16230,If You Believe,1999,Once-successful book editor Suzie Stone who wo...,208811
15999,16231,Dad's Dead,2003,"Ian Hart plays the narrator, an urban storytel...",208855
16000,16232,The Specials,2000,The Specials tells the story of a day in the l...,208887
16001,16233,Santosh Subramaniam,2008,Subramaniam is a rich businessman managing his...,209155

In [135]:
np.save('pearson_similarity.npy', pearson_sim)